body {
	max-width: 100%;
	overflow-x: hidden;
	font-size: 150%;
	font-family: Lucida Sans Unicode;
	font-weight: bolder;
	border: none;
	color: #333333;
}
p {
	margin: 0;
}
.floatreset {
	float: initial !important;
}

[tooltip]:before {
	/* needed - do not touch */
	content: attr(tooltip);
	position: absolute;
	opacity: 0;
	
	/* customizable */
	transition: all 0.15s ease;
	padding: 10px;
	color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 1px silver;    
}
[tooltip]:hover:before {
	/* needed - do not touch */
	opacity: 1;
	
	/* customizable */
	background: grey;
	margin-top: -50px;
	margin-left: 0px;    
}
[tooltip]:not([tooltip-persistent]):before {
	pointer-events: none;
}
.tooltip {
	font-size: 70%;
	font-weight: normal;
	text-align: left;
	margin-right: 1%;
	margin-left: 1%;
	white-space: pre-line;
}
.greyed {
	opacity: 40%;
	font-size: smaller;
}

input, select, textarea, #history {
	font-size: 100%;
	font-weight: bolder;
	font-family: Lucida Sans Unicode;
	padding: 2px;
	margin: 1%;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border: 1px solid #e6e6e6;
	color: #333333;
}
input:-moz-read-only { /* For Firefox */
	background-color: #F5F5F5;
}
input:read-only {
	background-color: #F5F5F5;
}
#history {
	margin-left:auto; 
	margin-right:0; 
	font-size: 60%; 
	font-weight: bolder; 
	padding: 4px; 
	background-color: #F5F5F5;
	max-width: 50%;
	min-width: 220px;
	height: 180px;
	overflow-y: scroll;
}

.button {
	background-color:#89c403;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
	margin-top: 5px;
	margin-bottom: 5px;
}
.button:hover {
	background-color:#77a809;
}
.button:active {
	position:relative;
	top:1px;
}
#blueButton {
	background-color:#3d94f6;
	border:1px solid #337fed;
	text-shadow:0px 1px 0px #1570cd;
}
#blueButton:hover {
	background-color:#1e62d0;
}
#orangeButton {
	background-color:#fab561;
	border:1px solid #eeb44f;
	text-shadow:0px 1px 0px #cc9f52;
}
#orangeButton:hover {
	background-color:#fb9e25;
}
#redButton {
	background-color:#f24537;
	border:1px solid #d02718;
	text-shadow:0px 1px 0px #810e05;
}
#redButton:hover {
	background-color:#c62d1f;
}

.alert {
	padding: 10px 20px;
	margin-bottom: 5px;
	background-color: #f24537;
	color: white;
	font-weight: normal;
	font-size: 60%;
	transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
	position: fixed;
	bottom: 3%;
	left:0;
	z-index:1;
	-moz-border-radius: 0 28px 28px 0; 
	-webkit-border-radius: 0 28px 28px 0;
}
.alertclosebtn {
	margin-left: 15px;
	margin-top: 5px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.alertclosebtn:hover {
	color: black;
}		
.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}
@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}  
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.modalbutton {
	background-color:#ededed;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	/*border:1px solid #dcdcdc;*/
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:12px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	float: right;
}
.modalbutton:hover {
	background-color:#dfdfdf;
}
.modalbutton:active {
	position:relative;
	top:1px;
}
.modal p {
	margin-bottom: 1em;
	color: #595959;
}
.pulsate {
	-webkit-animation: pulsate 3s ease-out;
	-webkit-animation-iteration-count: infinite; 
	opacity: 0.5;
}
@-webkit-keyframes pulsate {
	0% { 
		opacity: 0.5;
	}
	50% { 
		opacity: 1.0;
	}
	100% { 
		opacity: 0.5;
	}
}

.column {
	width: 45%;
	margin-left: auto; 
	margin-right: auto; 
}
#column2 p {
	margin-bottom: 1em;
}
#column1 {
	float: left; 
	text-align: right; 
	padding: 2% 3% 2% 2%; 
	background-color: #EBEBEB; 
	-moz-border-radius: 0 28px 28px 0; 
	-webkit-border-radius: 0 28px 28px 0;
}
#column2 {
	float: right; 
	text-align: left; 
	padding: 8% 2% 3% 0;
}

.footer {
	position: relative; 
	font: 15px Lucida Sans Unicode;;
}
#leftfooter {
	position: fixed; 
	bottom: 1%; 
	left: 1%;
}
#rightfooter {
	position: fixed; 
	bottom: 1%; 
	right: 1%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #89c403;
}

input:checked + #checkred {
  background-color: red;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
input[type="radio"] {
	/* Base Styles aka unchecked */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	border-radius: 50%;
	width: 16px;
	height: 16px;
	
	border: 2px solid #999;
	transition: 0.2s all linear;
	margin: 0;
	margin-right: 5px;
	
	position: relative;
	top: 1px;
}
input[type="radio"]:checked {
	/* Checked Styles */
	border: 6px solid black;
}

@media only screen and (max-width: 700px) {
	.column {
		width: 95%;
		-moz-border-radius: unset !important;
		-webkit-border-radius: unset !important;
	}
	input,select,textarea, #history {
		margin: 1%;
	}
	#history {
		float: right;
		width: 120%;
	}
}	
